
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 14.3% 95.9%;
    --foreground: 24 9.8% 10%;
    --card: 30 100% 99%;
    --card-foreground: 24 9.8% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 9.8% 10%;
    --primary: 22 91% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 27.9% 60.0%;
    --secondary-foreground: 0 0% 100%;
    --muted: 215 20.2% 65.1%;
    --muted-foreground: 215 20.2% 45.1%;
    --accent: 215 27.9% 84.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 22 91% 54%;
    --chart-1: 22 91% 54%;
    --chart-2: 195 86% 45%;
    --chart-3: 215 86% 45%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 22 91% 54%;
  }
  .dark {
    --background: 224 23% 10%;
    --foreground: 210 40% 98%;
    --card: 224 23% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 224 23% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 22 91% 64%;
    --primary-foreground: 0 0% 10%;
    --secondary: 215 27.9% 30.0%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 22%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 22 91% 64%;
    --chart-1: 22 91% 54%;
    --chart-2: 195 86% 45%;
    --chart-3: 215 86% 45%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 22 91% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-attachment: fixed;
    transition: background-image 0.5s ease-in-out;
  }
}

@layer utilities {
  .animate-bubble-rise {
    animation: bubble-rise linear forwards;
  }

  @keyframes bubble-rise {
    from {
      transform: translate(-50%, 0);
    }
    to {
      transform: translate(-50%, -100vh);
    }
  }
}
